<a href="https://colab.research.google.com/github/LatiefDataVisionary/data-management-and-data-infrastructure/blob/main/Bank_Marketing_Campaign_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

Mount Google Drive

In [6]:
drive.mount('/content/drive')

Mounted at /content/drive

Navigasi File

In [9]:
file_path ='/content/drive/My Drive/Management and Infrastruktur Data/bank.csv'
data = pd.read_csv(file_path)
data.head()

   age         job  marital  education default  ...  campaign pdays previous poutcome  deposit
0   59      admin.  married  secondary      no  ...         1    -1        0  unknown      yes
1   56      admin.  married  secondary      no  ...         1    -1        0  unknown      yes
2   41  technician  married  secondary      no  ...         1    -1        0  unknown      yes
3   55    services  married  secondary      no  ...         1    -1        0  unknown      yes
4   54      admin.  married   tertiary      no  ...         2    -1        0  unknown      yes

[5 rows x 17 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [13]:
data.describe()

                age       balance           day  ...      campaign         pdays      previous
count  11162.000000  11162.000000  11162.000000  ...  11162.000000  11162.000000  11162.000000
mean      41.231948   1528.538524     15.658036  ...      2.508421     51.330407      0.832557
std       11.913369   3225.413326      8.420740  ...      2.722077    108.758282      2.292007
min       18.000000  -6847.000000      1.000000  ...      1.000000     -1.000000      0.000000
25%       32.000000    122.000000      8.000000  ...      1.000000     -1.000000      0.000000
50%       39.000000    550.000000     15.000000  ...      2.000000     -1.000000      0.000000
75%       49.000000   1708.000000     22.000000  ...      3.000000     20.750000      1.000000
max       95.000000  81204.000000     31.000000  ...     63.000000    854.000000     58.000000

[8 rows x 7 columns]

In [16]:
categorical_cols = [col for col in data.columns if data[col].dtype == 'object']
for col in categorical_cols:
  print(f"Value counts for columns {col}:")
  print(data[col].value_counts())
  print("\n")

Value counts for columns job:
job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64


Value counts for columns marital:
marital
married     6351
single      3518
divorced    1293
Name: count, dtype: int64


Value counts for columns education:
education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64


Value counts for columns default:
default
no     10994
yes      168
Name: count, dtype: int64


Value counts for columns housing:
housing
no     5881
yes    5281
Name: count, dtype: int64


Value counts for columns loan:
loan
no     9702
yes    1460
Name: count, dtype: int64


Value counts for columns contact:
contact
cellular     8042
unknown      2346
telephone     774
Name: count, dtype: int64


Value counts for columns month:
month
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: count, dtype: int64


Value counts for columns poutcome:
poutcome
unknown    8326
failure    1228
success    1071
other       537
Name: count, dtype: int64


Value counts for columns deposit:
deposit
no     5873
yes    5289
Name: count, dtype: int64